.container{
	width: auto;
	margin: auto;
	text-align: center;
}
.casa{
	width: 100px;
	height: 100px;
	border-style: solid;
	border-width: 3px;
	display: inline-block;
	background-size: cover;
	background-color: white;
}
body {
	background-image: url(batmanvscoringa.png);
	background-size: cover;
	background-repeat: no-repeat;

}
#jogada{
	text-shadow: #fff;
}
.btn{
	margin-left: 800px;
  	font-size:14px;
  	font-weight:700px;
  	border:none;
  	padding:5px;
  	cursor: pointer;
  	margin: auto;
}
.btn-green{
	background: green;
	padding:7px;
	border: none;
	color: #fff;
	box-shadow: 0 5px 0 #006000;
}
.btn-green:hover{
  background:#006000;
  color: #fff;
  box-shadow:0 5px 0 #003f00;
}
.btn-green:active{
  position:relative;
  top:5px;
  box-shadow:none;
}
.footer{
	position:fixed;
    bottom:0;
    width:100%;
   	background-color: black;
   	color: white;
   	text-align: center;
   	left: 0;
}
#imagem{
	width: 70px;
	height: 70px;
}